[submodule "docs/_themes"]
	path = docs/_themes
	url = git://github.com/mitsuhiko/flask-sphinx-themes.git
[submodule "flask_dashed/static/css/vendor/nib"]
	path = flask_dashed/static/css/vendor/nib
	url = git://github.com/visionmedia/nib.git
