body{
    background: #f1f1f1;
    font-size: 14px;
}
body > section, #main-navigation{
    background: #fff;
}
header,
body > section,
footer{
    padding: 0 5%;
}
a, a:visited{
    color: blue;
}
/* Header */
header{
    background: #222;
    line-height: 4em;
    color: #eee;
}
header > h1{
    margin: 0;
    font-size: 100%;
}
header > h1 > a,
header > h1 > a:visited{
    color: inherit;
    text-decoration: none;
}
/* Content */
body > section{
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    min-height: 300px;
}
body > section h1{
    font-size: 110%;
    margin-top: 0;
}
body > section h2{
    font-size: 100%;
    margin-top: 0;
}
body > section > div{
    margin-right: 250px;
    padding-right: 5%;
    position: relative;
    clear: both;
}
body > section > div > h1{
    text-decoration: underline;
}
/* Navigation */
#main-navigation{
    width: 250px;
    position: absolute;
    right: 5%;
    top: 1em;
    border-left: 1px solid #d2d2d2;
}
#main-navigation ul{
    margin: 0;
    list-style: none;
}
#main-navigation a{
    color: inherit;
}
#main-navigation .active > a,
#main-navigation .active > span{
    text-decoration: none;
    color: blue;
}
#main-navigation li.adminnode > span{
    position: relative;
    margin-left: 1em;
}
#main-navigation li.adminnode > span:before{
    content: "";
    display: block;
    position: absolute;
    top: 0.7em;
    margin-left: -1em;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #555;
}

#main-navigation > ul > li{
    margin: 0 0 1em 0;
    line-height: 2em;
}
#main-navigation > ul > li a,
#main-navigation > ul > li span{
    display: block;
}
/* Breadcrumbs */
#breadcrumbs{
    background: #f1f1f1;
    margin: 0;
    padding: 0 0 0 5%;
    border-bottom: 1px solid #D2D2D2;
}
#breadcrumbs > ul{
    padding: 0;
}
#breadcrumbs > ul > li{
    display: inline-block;
}
#breadcrumbs > ul > li:not(:last-child):after{
    content: ">";
    margin: 0 0 0 0.5em;
}
/* Search form */
#search-form{
    position: absolute;
    top: 0;
    right: 5%;
}
#search-form input[type=text]{
    width: 150px;
}
/* List */
#counter, #pager, #pager li{
    display: inline;
}
/* Actions */
p.actions{
    margin-top: 1em;
}
p.actions > a, p.actions > input{
    display: inline-block;
    line-height: 2em;
    padding: 0 1em;
    border: 0;
    border-radius: 0.3em;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.new{
    background: #4BCF40;
}
.new:before{
    content: "+";
    margin: 0 0.5em 0 0;
}
/* Footer */
footer{
    padding-top: 1em;
    border-top: 1px solid #D2D2D2;
}