body{
    background: #f1f1f1;
    font-size: 14px;
}
body > section, #main-navigation{
    background: #fff;
}
header,
body > section,
footer{
    padding: 0 5%;
}
a, a:visited{
    color: blue;
}
/* Header */
header{
    border-bottom: 1px solid #D2D2D2;
    line-height: 4em;
}
header > h1{
    margin: 0;
    font-size: 100%;
}
header > h1 > a,
header > h1 > a:visited{
    color: inherit;
    text-decoration: none;
}
/* Content */
body > section{
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
}
body > section h1{
    font-size: 110%;
    margin-top: 0;
}
body > section > div{
    margin-right: 200px;
    padding-right: 5%;
    position: relative;
    clear: both;
}
/* Navigation */
#main-navigation{
    width: 200px;
    position: absolute;
    right: 5%;
    top: 1em;
    border-left: 1px solid #d2d2d2;
}
#main-navigation ul{
    margin: 0;
    list-style: none;
}
#main-navigation a:hover{
    color: black;
}
#main-navigation .current, #main-navigation .current a{
    color: orange;
}
/* Search form */
#search-form{
    position: absolute;
    top: 0;
    right: 5%;
}
#search-form input[type=text]{
    width: 150px;
}
/* List */
#counter, #pager, #pager li{
    display: inline;
}
/* Footer */
footer{
    padding-top: 1em;
    border-top: 1px solid #D2D2D2;
}