/* General */
body{
    background: #f1f1f1;
    font-size: 13px;
}
body > section, #main-navigation{
    background: #fff;
}
header,
body > section,
footer{
    padding: 0 5%;
}
a, a:visited{
    color: blue;
}
/* Flashes */
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes fade-out {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.flashes{
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    opacity: 1;
    animation: fade-out 3s;
    animation-fill-mode: forwards;
    -webkit-animation: fade-out 3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fade-out 3s;
    -moz-animation-fill-mode: forwards;
}
.flashes > li{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
    -webkit-border-radius: 0 0 1em 1em;
    -moz-border-radius:  0 0 1em 1em;
    border-radius:  0 0 1em 1em;
    background: #fff;
}
.flashes > li.error{
    border: 1px #f00 solid;
    border-top: 0;
    color: #f00;
}
.flashes > li.success {
    border: 1px #00A114 solid;
    color: #00A114;
    border-top: 0;
}
/* Table */
table{
    margin: 0 0 1em 0;
    overflow-x: auto;
    border-radius: 0.5em;
    border-collapse: separate;
    border-spacing: 0;
}
table tr:first-child th:first-child {
    border-radius: 0.5em 0 0 0;
}
table tr:first-child  th:last-child {
    border-radius: 0 0.5em 0 0;
}
table tr:last-child td:first-child {
    border-radius: 0 0 0 0.5em;
}
table tr:last-child td:last-child {
    border-radius: 0 0 0.5em 0;
}
th, td{
    padding: 0.4em 1em;
    border-right: 1px solid #D2D2D2;
    border-top: 1px solid #D2D2D2;
    height: 1em;
}
tr:last-child td{
    border-bottom: 1px solid #D2D2D2;
}
tr td:first-child, tr th:first-child{
    border-left: 1px solid #D2D2D2;
}
th{
    font-weight: normal;
}
th > a{
    text-decoration: none;
}
.asc, .desc{
    position: relative;
}
.asc > a, .desc > a{
    padding: 0 0 0 1em;
}
.asc > a:before, .desc > a:before{
    content: "";
    display: block;
    position: absolute;
    top: 0.6em;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.desc > a:before{
    border-top: 10px solid #555;
}
.asc > a:before{
    border-bottom: 10px solid #555;
}
tr:nth-child(even){
    background: #f4f4f4;
}
/* Form */
.errors{
    padding: 0 1em;
    color: #f00;
    list-style: none;
}
.required{
    position: relative;
}
.required:after{
    content: "*";
    right: 0.5em;
}
form{
    padding: 0;
}
fieldset{
    margin: 1em 0;
    padding: 0;
    border: 1px #ccc solid;
    border-radius: 0.5em;
    background: #eee;
}
fieldset > p{
    clear: both;
    padding: 0.2em 1em;
    border-bottom: 1px #fff solid;
}
fieldset > p:last-child{
    border: 0;
}
label{
    display: block;
    float: left;
    width: 200px;
    padding: 0.3em 0;
}
form h2{
    display: block;
    padding: 0.5em 1em;
    border-radius: 0.5em 0.5em 0 0;
    border-bottom: 1px #ccc solid;
}
input[type=text],
input[type=password],
select,
textarea{
    padding: 0.3em 5px;
    width: 300px;
    border: 1px #aaa solid;
    background: #fff;
}
select{
    width: 312px;
}
@media screen and (max-width: 660px){
    label{
        float: none;
    }
    input[type=text],
    input[type=password],
    select,
    textarea{
        width: 450px;
    }
    select{
        width: 462px;
    }
}
@media screen and (max-width: 590px){
    input[type=text],
    input[type=password],
    select,
    textarea{
        width: 350px;
    }
    select{
        width: 362px;
    }
}
@media screen and (max-width: 470px){
    input[type=text],
    input[type=password],
    select,
    textarea{
        width: 300px;
    }
    select{
        width: 312px;
    }
}
textarea{
    height: 5em;
}
/* Header */
header{
    background: #222;
    line-height: 4em;
    color: #eee;
}
header > h1{
    margin: 0;
    font-size: 100%;
}
header > h1 > a,
header > h1 > a:visited{
    color: inherit;
    text-decoration: none;
}
/* Content */
body > section{
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    min-height: 300px;
}
body > section h1{
    font-size: 110%;
    margin-top: 0;
}
body > section h2{
    font-size: 100%;
    margin-top: 0;
}
body > section > div{
    margin-right: 250px;
    padding-right: 5%;
    padding-bottom: 1em;
    position: relative;
    clear: both;
}
@media screen and (max-width: 800px){
    body > section > div{
        margin: 0;
        border-bottom: 1px solid #d2d2d2;
        padding-top: 1em;
        padding-right: 0;
    }
}
/* Navigation */
#main-navigation{
    width: 250px;
    position: absolute;
    right: 5%;
    top: 1em;
    border-left: 1px solid #d2d2d2;
}
@media screen and (max-width: 800px){
    #main-navigation{
        position: relative;
        width: 100%;
        border: 0;
        right: 0;
    }
}
#main-navigation ul{
    margin: 0;
    list-style: none;
}
#main-navigation a{
    color: inherit;
}
#main-navigation .active > a,
#main-navigation .active > span{
    text-decoration: none;
    color: blue;
}
#main-navigation li.adminnode > span{
    position: relative;
    margin-left: 1em;
}
#main-navigation li.adminnode > span:before{
    content: "";
    display: block;
    position: absolute;
    top: 0.7em;
    margin-left: -1em;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #555;
}
#main-navigation > ul > li{
    margin: 0 0 1em 0;
    line-height: 2em;
}
#main-navigation > ul > li a,
#main-navigation > ul > li span{
    display: block;
}
/* Breadcrumbs */
#breadcrumbs{
    background: #f1f1f1;
    margin: 0;
    padding: 0 0 0 5%;
    border-bottom: 1px solid #D2D2D2;
}
#breadcrumbs > ul{
    padding: 0;
}
#breadcrumbs > ul > li{
    display: inline-block;
}
#breadcrumbs > ul > li:not(:last-child):after{
    content: ">";
    margin: 0 0 0 0.5em;
}
/* Search form */
#search-form{
    position: absolute;
    top: 0;
    right: 5%;
    padding: 0;
    border: 0;
    background: #fff;
}
#search-form input[type=text]{
    width: 150px;
}
/* List */
#counter, #pager, #pager li{
    display: inline;
}
/* Actions */
p.actions{
    margin-top: 1em;
    padding-right: 0;
    text-align: right;
}
p.actions > a, p.actions > input{
    display: inline-block;
    line-height: 2em;
    padding: 0 1em;
    border: 0;
    border-radius: 0.3em;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.new{
    background: #4BCF40;
}
.new:before{
    content: "+";
    margin: 0 0.5em 0 0;
}
/* Dashboard */
.widget{
    width: 50%;
    border: 1px solid #D2D2D2;
    border-radius: 0.5em;
}
@media screen and (max-width: 800px){
    .widget{
        width: 100%;
    }
}
.widget h1{
    font-weight: normal;
    line-height: 2em;
    padding: 0 1em;
    background: #F1F1F1;
    border-radius: 0.5em 0.5em 0 0;
    border-bottom: 1px solid #D2D2D2;
}
.widget > div{
    padding: 0 1em 1em 1em;
}
/* Footer */
footer{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #D2D2D2;
}
/* Gradients */
form h2, th{
    background: #e3e3e3;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e3e3e3 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top, #e3e3e3 0%,#f5f5f5 100%);
    background: -o-linear-gradient(top, #e3e3e3 0%,#f5f5f5 100%);
    background: -ms-linear-gradient(top, #e3e3e3 0%,#f5f5f5 100%);
    background: linear-gradient(top, #e3e3e3 0%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#f5f5f5',GradientType=0 );
}