<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width = device-width" />
        <title>{% block title %}Welcome to flask dashed{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('.static', filename='media/css/base.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('.static', filename='media/css/form.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('.static', filename='media/css/admin.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('.static', filename='media/css/table.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('.static', filename='media/css/flash.css') }}" type="text/css" />
    </head>
    <body>
        <header>
            {% include 'header.html' %}
        </header>
        <section>
            <nav id="main-navigation" role="navigation">
                <ul>
                    {% for node in admin.navigation recursive %}
                        <li>
                            <a href="{{ node.url }}" class="{{ node.class }}" title="{{ node.title }}">{{ node.short_title }}</a>
                            {% if node.children|length > 0 %}
                                <ul>
                                    {{ loop(node.children) }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div>
                {% if get_flashed_messages(with_categories=true) %}
                    <ul class="flashes">
                        {% for category, message in get_flashed_messages(with_categories=true) %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% block content %}<p>Welcome to flask admin</p>{% endblock %}
            </div>
        </section>
        <footer>
            {% include 'footer.html' %}
        </footer>
    </body>
</html>