{% macro render_form(form) %}
    {{ form.csrf }}
    <fieldset>
        {% for field in form %}
            {% if field.type == "HiddenField" %}
                {{ field }}
            {% else %}
                {% if field.errors %}
                    <ul class="errors">
                        {% for error in field.errors %}<li>{{ error }}{% endfor %}
                    </ul>
                {% endif %}
                <p id="{{field.name}}_holder"class="field{% if field.errors %} error{% endif %}">
                    {{ field.label }}
                    {{ field }} {% if field.flags.required %}*{% endif %}
                </p>
            {% endif %}
        {% endfor %}
    </fieldset>
{% endmacro %}