/** @TODO: cross browser: **/
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.flashes{
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    opacity: 0;
    -webkit-animation-name: fade-out;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}
    .flashes > li{
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0.5em 0;
        -webkit-border-radius: 0 0 1em 1em;
        -moz-border-radius:  0 0 1em 1em;
        border-radius:  0 0 1em 1em;
    }
        .flashes > li.error{
            border: 1px #f00 solid;
            color: #f00;
            background: #FFB6B6;
        }
        .flashes > li.success {
            border: 1px #00A114 solid;
            color: #00A114;
            background: #9DFCA9;
        }
