<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width = device-width" />
        <title>{% block title %}Welcome to flask dashed{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('.static', filename='media/css/base.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('.static', filename='media/css/admin.css') }}" type="text/css" />
    </head>
    <body>
        <header>
            {% include 'flask_dashed/header.html' %}
        </header>
        {% if module %}
            {% include 'flask_dashed/breadcrumbs.html' %}
        {% endif %}
        <section>
            <div>
                {% if get_flashed_messages(with_categories=true) %}
                    <ul class="flashes">
                        {% for category, message in get_flashed_messages(with_categories=true) %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% block content %}<p>Welcome to flask admin</p>{% endblock %}
            </div>
            {% include 'flask_dashed/navigation.html' %}
        </section>
        <footer>
            {% include 'flask_dashed/footer.html' %}
        </footer>
    </body>
</html>